body{
  background-color: silver;
  background-image: url(img/letter.jpg);
  background-size:cover;
  background-repeat: no-repeat;
}

body{
  font-size: 1.2em;
  font-family: sans-serif;
}

.farbe1{color: red;}
